
:root{
    --primrycolor:#ff274b;
    --secondarycolor:#f7bcf7;
    --lightcolor:#ffff;
    --bgcolor-1:black;
    --bgcolor-2:#22282a;
    --padding:8%;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
     font-family: 'Work Sans', sans-serif;
     font-size: 16px;
}

span{
    color:var(--primrycolor);
}

h1{
    color: #ffff;
}
h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
    color: #ffff;
}

p{
    color: var(--secondarycolor);
    letter-spacing: 0.12rem;
    line-height: 1.8rem;
    font-size: 1rem;
}

h5{
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
    color: #ffff;
}

h1{
    font-size: 4.65rem;
    margin: 1.7rem 0;
}
h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}
h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color:var( --secondarycolor);
}
nav{
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul li{
    list-style-type: none;
    display: inline-block;
    margin:0.8rem 1.5rem;
}

nav ul li a{
    color: var(--lightcolor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color: var(--primrycolor);
}

.btn{
    background-color: var(--primrycolor);
    color: var(--lightcolor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    transition: 0.4s;
    border: 2px solid transparent;

}

.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primrycolor);
}
/* ---------------------------------------------
-----------------------------------------------
----------Home Servies-------------------------
*/
.home{
    width: 100%;
    height: 100vh;
    background-color:var(--bgcolor-1);
    display: flex;
    flex-direction: column;
}
.conect{
    flex-grow: 1;
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.squree {
    margin-top: 3.5rem;
}
.squree a{
    text-decoration: none;
}

.conect-text{
    position: relative;
    bottom: 70px;
}
.container-text{
    margin-top: 3.5rem;

}

.container-text img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;

}

.home .container-text img:hover{
    transform: scale(1.2);
}
 .home .container-img{
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}

.home .container-img img{
    position: absolute;
    bottom: 0;
    height:100%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s , left 1s;
}

.home.container-img:hover .shope{
    bottom: 40px;
}

.home .container-img:hover .pic{
    bottom: 45%;
}

/* ---------------------------------------------
-----------------------------------------------
----------About Servies-------------------------
*/
.about1{
    background-color: var(--bgcolor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about1 .container-img{
    width: 35%;
}
.about1 .container-img img{
    width: 90%;
}
.about1 .container-texts{
    width: 35%;
}
/* ---------------------------------------------
-----------------------------------------------
---------- Servies-------------------------
*/
.services{
    background-color: var(--bgcolor-1);
    padding: 2rem var(--padding);

}

.text-center{
    text-align: center;
}

.box{
 display: flex;
 justify-content: space-around;
}
.card{
    width: 300px;
    background-color: var(--bgcolor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
}
.card em{
    font-size: 3.12rem;
    text-align: center;
    color: var(--primrycolor);
    margin: 2rem;
}
/* ---------------------------------------------
-----------------------------------------------
----------SKless-------------------------
*/
.Skless{
    background-color: var(--bgcolor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.Skless .container-img{
    width: 35%;
}
.Skless .container-img img{
    width: 90%;
}

.content-Sklies{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    
}
.Sklies .content-Sklies{
    width: 50%;
}
.Sklies{
    width: 100px;
    height: 100px;
    background-color: var(--lightcolor);
    border-radius: 50%;
    margin: 0 2rem 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Skless img{
    width:70%;
}

/* ---------------------------------------------
-----------------------------------------------
----------Footer-------------------------
*/
footer{
    padding: 2rem var(--padding);
    background-color:var(--bgcolor-1);
}

footer .concet-footer{
     display: flex;
     -ms-flex-direction: column;
     align-items: center;
     flex-direction: column;
     justify-content: center;

}
footer .concet-footer p{
    color: var(--lightcolor);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}

footer .concet-footer .end{
    color: var(--primrycolor);
    margin-top: 1rem;
}





/* ---------------------------------------------
-----------------------------------------------
----------Menu-------------------------
*/

#menu{
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background-color: none;
    cursor: pointer;
    user-select: none;
}

button{
    background-color: red;
}
#menu span{
    display: block;
    width: 33px;
    height: 4px;
    background-color:var(--lightcolor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
}


#menu.is-active span:nth-child(1){
    transform: translate(0px ,-2px)rotate(45deg);
}

#menu.is-active span:nth-child(2){
  opacity: 0;
  transform: translate(15px);
}

#menu.is-active span:nth-child(3){
    transform: translate(-3px , 3px) rotate(-45deg);
  }
  #menu.is-active span{
    background-color: var(--primrycolor);
  }
/* ---------------------------------------------
-----------------------------------------------
----------MEDla QuErlEs-------------------------
*/
@media screen and (max-width:575px){
    :root{
        --padding:1.5rem;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
        font-size: 13px;
        width: 100%;
    }

    .home .container-img{
        display: none;
    }

    nav > a{
        display: none;
    }
    nav ul {
        display:none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgcolor-2);
        top: 0;
        left: 0;
    }

    nav ul.is-active{
        display: block;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        background-color:var(--bgcolor-1);
        border-bottom: 1px solid var(--bgcolor-2);
        padding-top: 0;
        z-index: 100;
        color: #fff;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }
    .conect-text {
        bottom: 0;
    }
    .container-text{
        bottom: 0;
    }
 .squree{
    margin-top: 70px;
 }  
 
 h3{
    margin-bottom: 70px;
 }
 #menu{
    display: block;
 }

 .about1 .container-img{
    display: none;
 }
 .about1 .container-texts{
    width: 100%;
 }

 .box{
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
 }

  .container-img{
    display: none;
 }

 .Skless .content-Sklies{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

 .Skless .container-Skless .content-Sklies{
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    margin: 50px;

 }
 .Sklies{
    width: 80px;
    height: 80px;
 }

 footer .concet-footer{
    width: 100%;
 }
}


@media screen and (min-width:576px) and (max-width:767px){
    :root{
        --padding:1.5rem;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
        font-size: 13px;
        width: 100%;
    }

    .home .container-img{
        display: none;
    }

    nav > a{
        display: none;
    }
    nav ul {
        display:none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgcolor-2);
        top: 0;
        left: 0;
    }

    nav ul.is-active{
        display: block;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        background-color:var(--bgcolor-1);
        border-bottom: 1px solid var(--bgcolor-2);
        padding-top: 0;
        z-index: 100;
        color: #fff;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }
    .conect-text {
        bottom: 0;
    }
    .container-text{
        bottom: 0;
    }
 .squree{
    margin-top: 30px;
 }  
 
 h3{
    margin-bottom: 30px;
 }
 #menu{
    display: block;
 }

 .about1 .container-img{
    display: none;
 }
 .about1 .container-texts{
    width: 100%;
 }

 .box{
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
 }

  .container-img{
    display: none;
 }

 .Skless .content-Sklies{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

 .Skless .container-Skless .content-Sklies{
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    margin: 50px;

 }
 .Sklies{
    width: 80px;
    height: 80px;
 }

 footer .concet-footer{
    width: 100%;
 }

 .conect{
    padding-top: 82px;
 }
}





@media screen and (min-width:768px) and (max-width:991px){
    :root{
        --padding:1.5rem;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
        font-size: 13px;
        width: 100%;
    }

    .home .container-img{
        display: none;
    }

    nav > a{
        display: none;
    }
    nav ul {
        display:none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgcolor-2);
        top: 0;
        left: 0;
    }

    nav ul.is-active{
        display: block;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        background-color:var(--bgcolor-1);
        border-bottom: 1px solid var(--bgcolor-2);
        padding-top: 0;
        z-index: 100;
        color: #fff;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }
    .conect-text {
        bottom: 0;
    }
    .container-text{
        bottom: 0;
    }
 .squree{
    margin-top: 30px;
 }  
 
 h3{
    margin-bottom: 30px;
 }
 #menu{
    display: block;
 }

 .about1 .container-img{
    display: none;
 }
 .about1 .container-texts{
    width: 100%;
 }

 .box{
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
 }

  .container-img{
    display: none;
 }

 .Skless .content-Sklies{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

 .Skless .container-Skless .content-Sklies{
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    margin: 50px;

 }
 .Sklies{
    width: 80px;
    height: 80px;
 }

 footer .concet-footer{
    width: 100%;
 }

 .conect{
    padding-top: 82px;
 }
}




@media screen and (min-width:992px) and (max-width:1279px){
    :root{
        --padding:1.5rem;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
        font-size: 13px;
        width: 100%;
    }



    nav > a{
        display: none;
    }
    nav ul {
        display:none;
        position: fixed;
        width: 100vw;
        height: 50vh;
        background-color: var(--bgcolor-2);
        top: 0;
        right: 0;
    }

    nav ul.is-active{
        display: block;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        background-color:var(--bgcolor-1);
        border-bottom: 1px solid var(--bgcolor-2);
        padding-top: 0;
        z-index: 100;
        color: #fff;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }
    .conect-text {
        bottom: 0;
    }
    .container-text{
        bottom: 0;
    }
 .squree{
    margin-top: 30px;
 }  
 
 h3{
    margin-bottom: 30px;
 }
 #menu{
    display: block;
 }


 .about1 .container-texts{
    width: 60%;
 }

 .box{
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
 }

  .container-img{
    display: none;
 }

 .Skless .content-Sklies{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

 .Skless .container-Skless .content-Sklies{
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    margin: 50px;

 }
 .Sklies{
    width: 80px;
    height: 80px;
 }

 footer .concet-footer{
    width: 100%;
 }

 .conect{
    padding-top: 82px;
 }
}